<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resultado - TrampoHub</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>TrampoHub</h1>

    <h2>Candidatura enviada!</h2>

    <p>Os dados foram recebidos pelo servidor Python.</p>

    <p><strong>Nome:</strong> {{ nome }}</p>
    <p><strong>E-mail:</strong> {{ email }}</p>
    <p><strong>Vaga:</strong> {{ vaga }}</p>
    <p><strong>Modalidade:</strong> {{ modalidade }}</p>
    <p><strong>Contrato:</strong> {{ contrato }}</p>

    <p><strong>Status:</strong> Em análise</p>

    <a href="/">Voltar para o início</a>

</body>
</html>